name: PriceBuddy CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  functions-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./functions
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm ci
      - run: npm run build

  web-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web_app
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: npm ci
      - run: npm run build

  flutter-analyze:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./flutter_app
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter analyze
